In [31]:
import pandas as pd
import FinanceDataReader as fdr
df_krx = fdr.StockListing('KRX')
df_SP = fdr.StockListing('SP500')
df_NAQ = fdr.StockListing('NASDAQ')
df_NY = fdr.StockListing('NYSE')

100%|██████████| 4401/4401 [00:08<00:00, 502.94it/s]
100%|██████████| 3226/3226 [00:10<00:00, 308.23it/s]

In [55]:
df_Krx=df_krx['Code'].to_frame()

In [118]:
import pandas as pd
def make_code(x):
    x = str(x)
    return '0'*(6-len(x)) + x

KR = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download',header=0)[0]
KR['종목코드'] = KR['종목코드'].apply(make_code)
KR_list = KR[KR['상장일'] < '2005-01-01']['종목코드'].to_frame()
KR_list.columns = ['Code']

In [119]:
df_Krx=pd.concat([KR_list,df_Krx])

In [120]:
df_krx=df_Krx[df_Krx.duplicated()]

In [121]:
df_Sp = df_SP['Symbol'].to_frame()
df_Sp.columns = ['Code']
df_Naq = df_NAQ['Symbol'].to_frame()
df_Naq.columns = ['Code']
df_Ny = df_NY['Symbol'].to_frame()
df_Ny.columns = ['Code']

In [122]:
df_Ny

           Code
0           XOM
1           TSM
2             V
3           UNH
4           JPM
...         ...
3221     BAM WI
3222     MBC WI
3223  RSF RT WI
3224     VTS WI
3225  KIO RT WI

[3226 rows x 1 columns]

In [123]:
Kr=df_Krx
AM=pd.concat([df_Sp,df_Ny,df_Naq])
list_kr = Kr['Code']
list_AM = AM['Code']

In [124]:
from tqdm import tqdm
import time
start_time = time.time()

merge_stock_list_KR =[]
for code in tqdm(list_kr):
    stock_list = fdr.DataReader(code, '2017').reset_index().values.tolist() 
    
    for row in stock_list: 
        row.append(code)                 
        merge_stock_list_KR.append(row)

100%|██████████| 5034/5034 [12:22<00:00,  6.78it/s]

In [127]:
merge_stock_list_KR[1]

[Timestamp('2017-01-03 00:00:00'),
 11581,
 11867,
 11152,
 11439,
 41287,
 -0.016423043852106578,
 '004840']